*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator{
    border: 5x solid #717377;
    padding: 20px;
    border-radius: 20x;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input{
    width: 420px;
    border: none;
    padding:34x;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 9x 21 rgbs(94 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #FF0000;
}

input::placeholder{
    color: #FF0000;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #FF0000;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: #000000;
}

.operator{
    color: #6dee0a;
}
